# -*- mode: yaml -*-
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-environment-resources-elasticache.html#customize-environment-resources-elasticache-defaultvpc
option_settings:
  "aws:autoscaling:launchconfiguration":
    EC2KeyName: mahmoud-gauss
    IamInstanceProfile: wubot
  "aws:ec2:vpc":
    VPCId: vpc-d6832dbf
    Subnets:
      - subnet-dfe958b6
      - subnet-d4e958bd
    ELBSubnets:
      - subnet-7ce65715
      - subnet-eaea5b83
  "aws:autoscaling:launchconfiguration":
    InstanceType: t2.micro
    SecurityGroups:
      - sg-cdbdafa1
      - sg-16edf774
  "aws:elasticbeanstalk:customoption":
    CacheNodeType : cache.t2.micro
    NumCacheNodes : 1
    CachePort : 6379
    CacheSubnets:
      - subnet-26812f4f
      - subnet-3f812f56
    VpcId: vpc-d6832dbf
