# -*- mode: yaml -*-
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: mahmoud-gauss

  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-d6832dbf

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-dfe958b6,subnet-d4e958bd

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-7ce65715,subnet-eaea5b83

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-cdbdafa1,sg-16edf774
