# -*- mode: yaml -*-
commands:
  01_setup_ansible:
    command: 'pip install ansible>=1.8,<1.9.0'
    test: '[ ! hash ansible 2>/dev/null ]'

container_commands:
  01_setup_1:
    command: env
  01_setup_2:
    command: pwd
  02_generate_secrets:
    command: >
      docker run --env-file /root/secrets.env -d -t balancd/wubot
