# -*- mode: yaml -*-
# http://serverfault.com/questions/497169/installing-from-epel-on-amazon-ec2
commands:
  01_setup_pip:
    command: yum --enablerepo=epel install -y python-pip
  02_setup_ansible:
    command: pip install 'ansible>=1.8,<1.9'

container_commands:
  01_setup_1:
    command: env | logger
  01_setup_2:
    command: pwd | logger
