# -*- mode: yaml -*-
# http://serverfault.com/questions/497169/installing-from-epel-on-amazon-ec2
# - we want to make sure secrets *are* on the host machine **before** the docker
#   image is run
commands:
  01_setup_base:
    command: yum --enablerepo=epel install -y python-pip patch git
  02_setup_ansible:
    command: pip install 'ansible>=1.8,<1.9'
  03a_remove_wubot_if_exists:
    command: rm -fr /tmp/wubot
    test: '[ -e /tmp/wubot ]'
  03b_clone_wubot:
    command: git clone https://github.com/balanced-ops/wubot.git
    cwd: /tmp
    test: '[ ! -e /tmp/wubot ]'
  04_create_secrets_with_citadel:
    command: make secrets DEST='/root'
    cwd: /tmp/wubot
  05_patch_run_script_to_respect_envfile_parameter:
    command: make patch-eb-run
    cwd: /tmp/wubot
