# -*- mode: yaml -*-
container_commands:
  01_generate_secrets:
    command: >
      ansible-playbook -v -i 'localhost,' -c local assemble-secrets.yml -e 'secrets_dir=/root'
    cwd: /var/app/current
  02_runit:
    command: >
      docker run --env-file /root/secrets.env -d -t aws_beanstalk/staging-app:latest
